<p>&lt;% if (msg &amp;&amp; status) { %&gt;<br>&nbsp; &lt;div id="server-feedback" class="server-feedback &lt;%= status %&gt; border p-3"&gt;<br>&nbsp; &nbsp; &lt;%= msg %&gt;<br>&nbsp; &lt;/div&gt;<br>&lt;% } %&gt;<br>&nbsp; dodatek 1.&nbsp;&nbsp;</p>
<p>dodatek 2 .&nbsp;</p>
<p>dodatek 3.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>