<p style="line-height: 100%; margin-bottom: 0in">
<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">LETANÍAS
DE LA PRECIOSISM<span lang="en-US">A</span> SANGRE DE NUESTRO SEÑOR
JESUCRISTO</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Señor,
ten piedad, 			Señor, ten piedad</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cristo,
ten piedad, 			Cristo, ten piedad</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Señor,
ten piedad, 			Señor, ten piedad</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cristo,
óyenos, 			Cristo, óyenos</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cristo,
escúchanos, 		Cristo, escúchanos</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Dios
Padre celestial. 		Ten misericordia de nosotros</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Dios
Hijo, redentor del mundo. Ten misericordia de nosotros</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Dios
Espíritu Santo. 		Ten misericordia de nosotros</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Santísima
Trinidad que eres un solo Dios. Ten misericordia de nosotros</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, el unigénito del Padre Eterno, 	Sálvanos</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, Verbo de Dios encarnado, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, del testamento nuevo y eterno, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, derramada sobre la tierra en la agonía, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, vertida copiosamente en la flagelación, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, brotada en la coronación de espinas, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, derramada en la cruz, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, prenda de nuestra salvación, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, precisa para el perdón, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, bebida eucarística y refrigerio de las almas, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, manantial de misericordia, Sangre de Cristo,</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"> <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">vencedora
de los espíritus malignos, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, que das valor a los mártires, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, fortaleza de los confesores, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, inspiración de las vírgenes, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, socorro en el peligro, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, alivio de los afligidos, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, solaz en las penas, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, esperanza del penitente, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, consuelo del moribundo, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, paz y ternura para los corazones, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, promesa de vida eterna, Sangre de Cristo,</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"> <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">que
libras a las almas del purgatorio, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Sangre
de Cristo, acreedora de todo honor y gloria, „</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cordero
de Dios, que quitas el pecado del mundo, 		Perdónanos, Señor</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cordero
de Dios, que quitas el pecado del mundo, 		Escúchanos, Señor</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Cordero
de Dios, que quitas el pecado del mundo, 		Ten misericordia de
nosotros</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">V.
Oh Señor!, nos has redimido en tu sangre.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">R.
Y nos hiciste reino de nuestro Dios.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Oración</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Señor
Dios todopoderoso, que para gloria tuya y salvación de los hombres
constituiste a Cristo sumo sacerdote, concede al pueblo cristiano,
adquirido para ti por la sangre preciosa de tu Hijo, recibir en le
eucaristía, memorial del Señor, el fruto de la pasión y
resurrección de Cristo. Que vive y reina contigo por los siglos de
siglo<span lang="en-US">s. </span></font></font>
</p>
<p lang="en-US" style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Amen.
</font></font>
</p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">V.
Alabado sea el Santísimo Sacramento del Altar.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">R.
Sea por siempre bendito y alabado.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Del
evangelio según San Marcos (14,22)</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">	Mientras
comían, Jesús tomó el pan, pronunció la bendición, lo partió y
se lo dio,</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">	diciendo:
“Tomad, esto es mi cuerpo”.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Palabra
del Señor.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">V.
Les diste el Pan del cielo.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">R.
Que contiene en sí todo deleite.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Oremos.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">	Concédenos,
Señor y Dios nuestro, a los que creemos y proclamamos</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">que
Jesucristo, el mismo que por nosotros nació de la Virgen María y
murió en la cruz, está presente en el Sacramento, bebamos de esta
divina fuente el don de la salvación eterna. Por Jesucristo, nuestro
Señor.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">R.
Amén.</font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br>

</p>