<body>
  
  <main>
    <h1>bien venido a la pagina de nuestra parroquia Reina de los Angeles, la Joya</h1>
    <p>Current page: <%= page %></p>
    <p>Language: <%= lang %></p>
  </main>

</body>
