<p align="center" style="line-height: 100%; margin-bottom: 0in">
<font size="4" style="font-size: 16pt">Jerzy majka</font></p>
<p style="line-height: 100%; margin-bottom: 0in"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Magneto, fantasy"><font size="3" style="font-size: 12pt">borzymow
</font></font>
</p>
<p style="line-height: 100%; margin-bottom: 0in"><br/>

</p>
<p style="line-height: 100%; margin-left: 0.79in; margin-bottom: 0in">
 <font face="Magneto, fantasy"><font size="3" style="font-size: 12pt">1.</font></font></p>
<p style="line-height: 100%; margin-left: 0.79in; margin-bottom: 0in">
 <font face="Magneto, fantasy"><font size="3" style="font-size: 12pt">2.</font></font></p>
<p style="line-height: 100%; margin-left: 0.79in; margin-bottom: 0in">
 <font face="Magneto, fantasy"><font size="3" style="font-size: 12pt">3.</font></font></p>
<p style="line-height: 100%; margin-left: 0.79in; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><br/>

</p>
